<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>heloo</title>
  </head>
  <body>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="justify-content-md-center">
        <div>
          <form method="POST">
            <div class="form-group">
              <small id="input_ticker_small" class="form-text text-muted">Ticker</small>
              <!-- <label for="input_ticker">Input Ticker</label> -->
              <input type="text" class="form-control" id="input_ticker" name="input_ticker" aria-describedby="input_ticker" value="TATAMOTORS.NS">
            </div>
            <div class="form-group">
              <small id="input_start_date_small" class="form-text text-muted">Start Date</small>
              <!-- <label for="input_start_date">Start Date</label> -->
              <input type="text" class="form-control" id="input_start_date" name="input_start_date" aria-describedby="input_start_date" value= {{ default_start }}>
            </div>
            <div class="form-group">
              <small id="input_end_date_small" class="form-text text-muted">End Date</small>
              <!-- <label for="input_end_date">End Date</label> -->
              <input type="text" class="form-control" id="input_end_date" name="input_end_date" aria-describedby="input_end_date" value= {{ default_end }}>
            </div>
            <div class="form-group">
              <small id="input_interval_small" class="form-text text-muted">Interval</small>
              <!-- <label for="input_interval">Interval</label> -->
              <input type="text" class="form-control" id="input_interval" name="input_interval" aria-describedby="input_interval" value="5m">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="download" name="download" value="true">
              <label class="form-check-label" for="download">Download Excel File</label>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="generate_chart" name="generate_chart" value="true">
              <label class="form-check-label" for="generate_chart">Generate Chart</label>
            </div>
            <!-- <input type="submit" value="Submit"> -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> 
        </div>       
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


<!-- 
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->